<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dothrak's Cookbook</title>
</head>
<body>
    <h1>Welcome to Dothrak's Cookbook</h1>
    <p>Let your journey begin!</p>
    <a href="{{ url_for('recipes_inventory') }}"><button>Recipes Inventory</button></a>
    <a href="{{ url_for('search_recipes') }}"><button>Let's see what we can cook tonight</button></a>
</body>
</html>
