<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dothrak's Cookbook</title>
  <link rel="stylesheet" href="/static/home.css">
</head>
<body>
  <main>
    <!-- Barres -->
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>

    <div class="dothrak-cookbook">
      <p>Dothrak's Cookbook</p>
    </div>

    <div class="make-cooking-easy">
      <p>Make cooking easy</p>
    </div>

    <!-- Boutons -->
    <a href="{{ url_for('recipes_inventory') }}"><button id="recipes-btn">Recipes Inventory</button></a>
    <a href="{{ url_for('search_recipes') }}"><button id="search-btn">Let's see what to cook tonight</button></a>
  </main>
  <div class="copyright">
    <p>Made by Dothrak - © Copyright 2024</p>
  </div>
</body>
</html>
